# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
logs/

# Cache
.cache
cache/

# Instance files
instance/

# Static files
static/css/styles.css.map

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db